<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p> 
    Splurty was built by <a target="_blank" href="https://determined-bassi-314336.netlify.com"> Ivan</a>. A civil engineer turned web developer.
  </p>
  <br />
  <p>
    Taking his knowledge of project management and project engineering to promote the efficiency in the development of web applications. 
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Ivan Perez</h2>
      <br />
      <p>
        Ivan Perez has begun his journey into the world of web development. Enrolled in the UC Berkeley Coding Bootcamp, he has begun working with Ruby, CSS, HTML, and Ruby On Rails. His goal is to obtain employment at a large tech company to put his new skills to the test.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
